<div th:fragment="header">
	<div class="page-header">
        <!--=============== Navbar ===============-->
        <nav class="navbar navbar-expand-md navbar-dark bg-white" id="page-navigation">
            <div class="container">
                <!-- Navbar Brand -->
                <a href="/" class="navbar-brand">
                    <img src="/assets/img/logo/logo.png" alt="">
                </a>

                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarcollapse">
                    <!-- Navbar Menu -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/shop" class="nav-link">Sản phẩm</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a href="/register" class="nav-link">Đăng ký</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a href="/login" class="nav-link">Đăng nhập</a>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="avatar-header"><img src="/assets/img/logo/avatar.jpg"></div> <span sec:authentication="name"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            	<a class="dropdown-item" href="/account/profile">Tài khoản của tôi</a>
                                <a class="dropdown-item" href="/order">Đơn hàng</a>
                                <a sec:authorize="hasRole('admin')" class="dropdown-item" href="/admin/dashboard">Bảng điều khiển</a>
                                <a class="dropdown-item" href="/logout">Đăng xuất</a>
                            </div>
                          </li>

                        <li class="nav-item">
                            <a href="/cart" class="nav-link">
                                <i class="fa fa-shopping-basket"></i>
                                <span class="badge badge-primary" th:text="${cartItemCount}">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
