<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<body layout:fragment="content">
	<div id="page-content" class="page-content">
		<div class="banner">
			<div class="jumbotron jumbotron-bg text-center rounded-0"
				style="background-image: url('/assets/img/background-header.jpg');">
				<div class="container">
					<h1 class="pt-5">Tài khoản của tôi</h1>
				</div>
			</div>
		</div>

		<ul class="nav nav-tabs mt-5">
			<li class="nav-item"><a class="nav-link text-primary"
				href="/account/profile">Hồ sơ</a></li>
			<li class="nav-item"><a class="nav-link active font-weight-bold"
				href="/account/address">Địa chỉ nhận hàng</a></li>
		</ul>

		<section id="checkout">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xs-12 col-sm-8">
						<div class="d-flex justify-content-between mb-3">
							<h5 class="mb-3">ĐỊA CHỈ</h5>
							<button class="btn btn-primary" data-toggle="modal" data-target="#detailModal">+ Thêm địa chỉ mới</button>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"
								th:each="address, stat : ${addresses}">
								<div class="d-flex w-100 row">
									<div class="d-flex flex-column col">
										<h6 class="mb-1"
											th:text="${address.number + ' ' + address.street}"></h6>
										<small
											th:text="${address.district + ', ' + address.ward + ', ' + address.province}"></small>
									</div>
									<p class="col" th:text="${address.phoneNumber}"></p>
									<div class="d-flex flex-column col-auto p-0">
										<div class="mb-1 text-right">
											<a href="" data-toggle="modal" data-target="#detailModal">Sửa</a> <a
												th:href="@{/account/address/delete/{id}(id=${address.id})}"
												th:if="${!address.isDefault}" class="ml-2">Xóa</a>
										</div>
										<button class="btn btn-primary"
											th:disabled="${address.isDefault}">Thiết lập mặc
											định</button>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">No. Pesanan :
						AL121N8H2XQB47</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<p>
								<strong>Billing Detail:</strong><br> Teguh Rianto<br>
								Jl. Petani No. 159, Cibabat<br> Cimahi Utara<br> Kota
								Cimahi<br> Jawa Barat 40513
							</p>
						</div>
						<div class="col-md-6">
							<p>
								<strong>Payment Method:</strong><br> Direct Transfer to<br>
								Bank: BCA<br> No Rek.: 72133236179
							</p>
							<p>
								<strong>Batas Pembayaran</strong><br> 14-12-2017 17:55
								GMT+7
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								<strong>Your Order:</strong>
							</p>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>Products</th>
											<th class="text-right">Subtotal</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Ikan Segar x1</td>
											<td class="text-right">Rp 30.000</td>
										</tr>
										<tr>
											<td>Sirloin x1</td>
											<td class="text-right">Rp 120.000</td>
										</tr>
										<tr>
											<td>Mix Vegetables x1</td>
											<td class="text-right">Rp 30.000</td>
										</tr>
									</tbody>
									<tfooter>
									<tr>
										<td><strong>Cart Subtotal</strong></td>
										<td class="text-right">Rp 180.000</td>
									</tr>
									<tr>
										<td><strong>Shipping</strong></td>
										<td class="text-right">Rp 20.000</td>
									</tr>
									<tr>
										<td><strong>ORDER TOTAL</strong></td>
										<td class="text-right"><strong>Rp 200.000</strong></td>
									</tr>
									</tfooter>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
