<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<body layout:fragment="content">
	<div id="page-content" class="page-content">
		<div class="banner">
			<div class="jumbotron jumbotron-bg text-center rounded-0"
				style="background-image: url('/assets/img/background-header.jpg');">
				<div class="container">
					<h1 class="pt-5">Đăng ký</h1>

					<div class="card card-login mb-5">
						<div class="card-body">
							<form class="form-horizontal" action="/register/submit"
								method="post">
								<div th:if="${message != null}" th:text="${message}" class="alert alert-secondary" role="alert" ></div>
								<div class="form-group row mt-3">
									<div class="col-md-12">
										<input class="form-control" type="text" required=""
											placeholder="Tên" name="fullName">
									</div>
								</div>
								<div class="form-group row mt-3">
									<div class="col-md-12">
										<input class="form-control" type="email" required=""
											placeholder="Email" name="email">
									</div>
								</div>
								<div class="form-group row mt-3">
									<div class="col-md-12">
										<input class="form-control" type="phone" required=""
											placeholder="Số điện thoại" name="phoneNumber">
									</div>
								</div>
								<div class="form-group row mt-3">
									<div class="col-md-12">
										<input class="form-control" type="text" required=""
											placeholder="Tên đăng nhập" name="username">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12">
										<input class="form-control" type="password" required=""
											placeholder="Mật khẩu" name="password">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12">
										<input class="form-control" type="password" required=""
											placeholder="Xác nhận mật khẩu" name="confirmPassword">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-12">
										<div class="checkbox">
											<input id="checkbox0" type="checkbox" name="terms"> <label
												for="checkbox0" class="mb-0">Tôi đồng ý với <a
												href="" class="text-light">Điều khoản và Chính sách</a>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group row text-center mt-4">
									<div class="col-md-12">
										<button type="submit"
											class="btn btn-primary btn-block text-uppercase">Đăng
											ký</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
